<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    failOnRisky="true"
    failOnWarning="true"
    colors="true"
    cacheResultFile="build/.phpunit.result.cache">

  <testsuites>
    <testsuite name="integration">
      <directory suffix="Test.php">tests/Integration</directory>
    </testsuite>
  </testsuites>

  <coverage pathCoverage="true" processUncoveredFiles="true"
            cacheDirectory="build/.phpunit-coverage-cache">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <php outputFile="build/cov/integration.cov"/>
    </report>
  </coverage>

  <php>
    <ini name="display_errors" value="1"/>
  </php>
</phpunit>
